<div class="container">
    <h2>Student List from SQLDB</h2>
    <table class="table">
        <thead>

            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
            <tr>
                <th><input type="text" name="name" [(ngModel)]="student.name"></th>
                <th><input type="text" name="email" [(ngModel)]="student.email"></th>
                <th><input type="text" name="city" [(ngModel)]="student.city"></th>
                <th>
                    <Button class="btn btn-primary" (click)="addStudent()">Add</Button> &nbsp;&nbsp;
                    <Button class="btn btn-warning" (click)="updateData()">Update</Button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of studentList">
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.city}}</td>
                <td>
                    <Button class="btn btn-warning" (click)="editData(student.Id)">Edit</Button> &nbsp;&nbsp;
                    <Button class="btn btn-danger" (click)="deleteData(student.Id)">Delete</Button>
                </td>
            </tr>
        </tbody>
    </table>
</div>