
<div class="container">
   <!-- InterPolation - Curely Braces -->
 <h1>{{interPolation}} </h1> 
  <h4>Full Name is:  {{firstName}}  {{lastName}}</h4>
  {{1+1}}
  {{true}}
  {{person.name}} 
</div>
<br> <br>
<div class="container">
  <h1>{{propertyBinding}}</h1>
   <!-- Property Binding - Square Brackets -->
  <h1 [innerText] = "innerText"></h1> 
  <h2> This is Without the property Binding</h2>
  <button [disabled] = "isDisabled" class = "btn btn-primary">I am Disabled</button> <br> <br>
  <a [href] = "url" target="_blank"> Angular CLI</a>
</div> <br> 
<div class = "container">
  <h1>{{eventBinding}}</h1>
  <button class="btn btn-primary" (click) = "clickMe()">Counter</button>
  <p>You have clicked {{counter}}</p>
</div>

<div class="container">
  <h1>{{twoWayDataBinding}}</h1>
  <input type="text" class = "form-control w-50" [(ngModel)] = "fName"> <br>
  <input type="text" class = "form-control w-50" [(ngModel)] = "lastName"> <br>
  <p>
    {{getFullName()}}
  </p>
</div>
<br><br><br> 

<app-directive></app-directive>
<app-ng-switch></app-ng-switch>
<app-ng-if></app-ng-if>
<app-ng-class></app-ng-class>
<app-ng-style></app-ng-style> <br>
<div class="container">
  <h2>Using Custom Directives 1</h2>
  <div appCustom>
    This is Content
  </div>
</div>

<div class="container">
  <h1 appEmoji = "emoji 😴"> Welcome to Angular</h1>
</div>

<div class="container">
    <app-pipe></app-pipe>
</div>

<div class="container">
  <app-parent></app-parent>
</div>
<div class="container">
  <h2>Parent Used Event Handling Method to Access Child</h2>
  <app-parent-one></app-parent-one>
</div>
<div class="container">
  <h2>Parent Used Local Variable to Access Child (Template Reference Variable Method) </h2>
  <app-parent-two></app-parent-two>
</div>
