<div class="container">
  <!-- InterPolation - Curely Braces-->
 <h1>{{interPolation}} </h1> 
  <h4>Full Name is:  {{firstName}}  {{lastName}}</h4>
  {{1+1}}
  {{true}}
  {{person.name}} 
</div>
<br> <br>
<div class="container">
  <h1>{{propertyBinding}}</h1>
  <!-- Property Binding - Square Brackets-->
  <h1 [innerText] = "innerText"></h1> 
  <h2> This is Without the property Binding</h2>
  <button [disabled] = "isDisabled" class = "btn btn-primary">I am Disabled</button> <br> <br>
  <a [href] = "url" target="_blank"> Angular CLI</a>
</div>