
<!-- <div class="container">
    InterPolation - Curely Braces 
 <h1>{{interPolation}} </h1> 
  <h4>Full Name is:  {{firstName}}  {{lastName}}</h4>
  {{1+1}} 
  {{true}}
  {{person.name}} 
</div>
<br> <br>
<div class="container">
  <h1>{{propertyBinding}}</h1>
    Property Binding - Square Brackets -->
  <!-- <h1 [innerText] = "innerText"></h1> 
  <h2> This is Without the property Binding</h2>
  <button [disabled] = "isDisabled" class = "btn btn-primary">I am Disabled</button> <br> <br>
  <a [href] = "url" target="_blank"> Angular CLI</a>
</div> <br> 
<div class = "container">
  <h1>{{eventBinding}}</h1>
  <button class="btn btn-primary" (click) = "clickMe()">Counter</button>
  <p>You have clicked {{counter}}</p>
</div>

<div class="container">
  <h1>{{twoWayDataBinding}}</h1>
  <input type="text" class = "form-control w-50" [(ngModel)] = "fName"> <br>
  <input type="text" class = "form-control w-50" [(ngModel)] = "lastName"> <br>
  <p>
    {{getFullName()}}
  </p>
</div>
<br><br><br> 

<app-directive></app-directive>
<app-ng-switch></app-ng-switch>
<app-ng-if></app-ng-if>
<app-ng-class></app-ng-class>
<app-ng-style></app-ng-style> <br>
<div class="container">
  <h2>Using Custom Directives 1</h2>
  <div appCustom>
    This is Content
  </div>
</div>

<div class="container">
  <h1 appEmoji = "emoji 😴"> Welcome to Angular</h1>
</div>

<div class="container">
    <app-pipe></app-pipe>
</div>

<div class="container">
  <app-parent></app-parent>
</div>
<div class="container">
  <h2>Parent Used Event Emitter Method to Access Child</h2>
  <app-parent-one></app-parent-one>
</div>
<div class="container">
  <h2>Parent Used Local Variable to Access Child (Template Reference Variable Method) </h2>
  <app-parent-two></app-parent-two>
</div>
<div class="container">
  <h2>Parent Used ViewChild to Access Child  </h2>
  <app-parent-three></app-parent-three>
</div>
<div class="container">
  <h2>Life Cycle Methods </h2>
  <app-life-cycle-hooks [city] = "'Cambridge'"></app-life-cycle-hooks>
</div> -->
<!-- <div class="container">
  <app-parent-customer></app-parent-customer>
</div> -->
<!-- <div class="container">
  <app-parent-destroy></app-parent-destroy>
</div> -->
<!-- <div class="container">
  <app-template-driven-form></app-template-driven-form>
</div>
<div class="container">
  <app-reactive-form></app-reactive-form>
</div> -->
<!-- <div class="container">
  <app-product></app-product>
</div> -->
<!-- <div class="container">
  <h2>ToDo List</h2>
  <app-todo></app-todo>
</div> -->
<!-- <div class="container">
  <app-user></app-user>
  <ul>
    <li>
        <a [routerLink] = "['Products']">Products</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet> -->

<!-- <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a [routerLink] = "['/']" class = "navbar-brand">Angular Routing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a [routerLink] = "['home']" class = "nav-item nav-link">Home</a>
        <a [routerLink] = "['users']" class = "nav-item nav-link">Users</a>
        <a [routerLink] = "['products']" class = "nav-item nav-link">Products</a>
        <a [routerLink] = "['contact']" class = "nav-item nav-link">Contact</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div> -->
<!-- <div class="container">
  <app-people></app-people>
</div> -->
<!-- <div class="container">
  <app-student-mongo-data></app-student-mongo-data>
</div> -->

<div class="container">
  <app-student-sql-data></app-student-sql-data>
</div>